  <div class="container-fluid margin-top-15">
        <div class="row">
              <div class="col-md-4">
                 <mat-card>Simple card</mat-card>
              </div>
              <div class="col-md-8">
                <mat-card>Simple card</mat-card>
              </div>
          
        </div>
        <div class="row margin-top-15">
              <div class="col-md-3">
                    <mat-card class="example-card card">
                      <mat-card-header class="row">
                        <div class="col-md-4">
                        <div  class="example-card-header-image">
                          <i class="material-icons">timeline</i>
                        </div>
                        </div>
                        <div class="col-md-8 text-right">
                        <mat-card-title>Timesheet</mat-card-title>
                        <mat-card-subtitle>Pending 2</mat-card-subtitle>
                        </div>
                      </mat-card-header>
                      
                      <!--<mat-card-content>
                        <p>
                          Material Design components for Angular
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>-->
                    </mat-card>
              </div>
              <div class="col-md-3">
                    <mat-card class="example-card card">
                      <mat-card-header class="row">
                        <div class="col-md-4">
                        <div  class="example-card-header-image">
                         <i class="material-icons">today</i>
                        </div>
                        </div>
                        <div class="col-md-8 text-right">
                        <mat-card-title>Pending Approval</mat-card-title>
                        <mat-card-subtitle>IRM 2</mat-card-subtitle>
                        </div>
                      </mat-card-header>
                      
                      <!--<mat-card-content>
                        <p>
                          Material Design components for Angular
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>-->
                    </mat-card>
              </div>
              <div class="col-md-3">
                    <mat-card class="example-card card">
                      <mat-card-header class="row">
                        <div class="col-md-4">
                        <div  class="example-card-header-image">
                          <i class="material-icons">date_range</i>
                        </div>
                        </div>
                        <div class="col-md-8 text-right">
                        <mat-card-title>Approved </mat-card-title>
                        <mat-card-subtitle> 2</mat-card-subtitle>
                        </div>
                      </mat-card-header>
                      
                      <!--<mat-card-content>
                        <p>
                          Material Design components for Angular
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>-->
                    </mat-card>
              </div>
              <div class="col-md-3">
                    <mat-card class="example-card card">
                      <mat-card-header class="row">
                        <div class="col-md-4">
                        <div  class="example-card-header-image">
                          <i class="material-icons">update</i>
                        </div>
                        </div>
                        <div class="col-md-8 text-right">
                        <mat-card-title>To-Do</mat-card-title>
                        <mat-card-subtitle>List 2</mat-card-subtitle>
                        </div>
                      </mat-card-header>
                      
                      <!--<mat-card-content>
                        <p>
                          Material Design components for Angular
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions>-->
                    </mat-card>
              </div>
        </div>
  </div>
