<mat-tab-group>
  <mat-tab label="Resource-List">
    <div class="row example-table-container full-width ">
      <div class="col-md-12 example-table ">

        <div class="example-container mat-elevation-z8 margin-top-15">

          <div class="example-header row ">
            <h3 class="col-md-8">Resource Table</h3>
            <mat-form-field class="col-md-4">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <div class="table-height">
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </div>
          </mat-table>
          <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
          </mat-paginator>

        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Maintanence" disabled>


    <div class="row full-width ">
      <mat-card class="col-md-11 centered margin-top-15">



        <div class=" row">
          <h3 class="col-md-8">Form</h3>
          <div class="col-md-4"></div>
        </div>
        <div class=" row">
          <mat-form-field class="col-md-4">
            <input matInput placeholder="Input">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>



        </div>
        <div class="example-container row">
          <mat-form-field class="col-md-4">
            <textarea matInput placeholder="Remarks"></textarea>
          </mat-form-field>


          <mat-radio-group class="col-md-4">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>



          <mat-checkbox class="col-md-4">Check me!</mat-checkbox>
        </div>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button mat-raised-button color="primary">Submit</button>


          </div>

        </div>


      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>